<header class="header"> {#  {{addClass}}  #}
    {% include "main-top-menu.twig" %}
    <div class="header__hero">
        <figure class="header__hero-video-bg">
            <video autoplay loop muted>
                <source src="data/video-hero-banner-2.mp4" type="video/mp4">
              </video>
        </figure>
        <div class="container header__hero-content">
            <h1>
              {{Titre}} 
            </h1>

            <div class="animate-avatar">
                <div class="animate-avatar__photo">
                    <figure>
                        <img src="img/photo-profil.jpg" alt="">
                    </figure>
                </div>
                <div class="animate-avatar__html"><span>HTML</span></div>
                <div class="animate-avatar__css"> <span>CSS</span></div>
                <div class="animate-avatar__js"> <span>Js</span></div>
            </div>
        </div>
    </div>
</header>