.sg-buttons {
    position: relative;
}

.button {
    background-color: $color-gray-dark; //  $color-brand-primary
    color: white;
    border: none;
    font-size: 15px;
    padding: 8px;
    font-family: $font-regular;
    text-transform: uppercase;
    display: inline-block;
    //  @include border-radius(5px);
    cursor: pointer;
    span {
        z-index: 100;
        position: relative;
    }
    &--style01 {
        background-color: $color-brand-primary;
        padding: $gutter-half $gutter-base;
        position: relative;
        overflow: hidden;
        border: solid 3px $color-brand-primary;
        &:before {
            content: '';
            display: block;
            background-color: #fff;
            transition: all .3s ease;
            width: 5%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            top: 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%) skewX(50deg);
        }
        &:hover {
            &:before {
                width: 100%;
                opacity: 1;
                transform-origin: center;
            }
            span {
                color: $color-brand-primary;
            }
        }
    }
    &--style02 {
        background-color: $color-brand-primary;
        padding: $gutter-half $gutter-base;
        position: relative;
        overflow: hidden;
        border: solid 3px $color-brand-primary;
        &:before {
            content: '';
            display: block;
            background-color: #fff;
            transition: all .3s ease;
            width: 0%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        &:hover {
            &:before {
                animation-duration: 1s;
                animation-name: btnHover2;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out; //cubic-bezier(0.1, -0.6, 0.2, 0);
            }
            span {
                color: $color-brand-primary;
            }
        }
    }
    &--style03 {
        background-color: $color-brand-primary;
        padding: $gutter-half $gutter-base;
        position: relative;
        overflow: hidden;
        border: solid 3px $color-brand-primary;
        &:before {
            content: '';
            display: block;
            background-color: #fff;
            transition: all .5s ease;
            width: 0%;
            height: 0%;
            @include border-radius(100%);
            @extend .centerXY;
        }
        &:hover {
            &:before {
                width: 150%;
                height: 400%;
            }
            span {
                color: $color-brand-primary;
            }
        }
    }
}

.btn-group {
    width: 100%;
    @include padding(10px null);
    &--left {
        justify-content: left;
    }
    &--xspace {
        display: flex;
        justify-content: space-between;
        .btn-group_col {
            &:nth-last-of-type(1) {
                flex: 1;
                text-align: right;
            }
        }
    }
}

.button-action {
    @extend .button;
    @extend .bg-orange;
}

//----- animation 
@keyframes btnHover {
    0% {
        width: 0%;
    }
    50% {
        width: 70%;
    }
    65% {
        width: 100%;
    }
    66% {
        width: 100%;
    }
    80% {
        width: 75%;
    }
    83% {
        width: 75%;
    }
    93% {
        width: 80%;
    }
    100% {
        width: 100%;
    }
}

@keyframes btnHover2 {
    0% {
        width: 0%;
    }
    50% {
        width: 100%;
    }
    75% {
        width: 65%;
    }
    90% {
        width: 100%;
    }
    95% {
        width: 85%;
    }
    97% {
        width: 100%;
    }
    99% {
        width: 92%;
    }
    100% {
        width: 100%;
    }
}

//-----  MEDIA QUERY / RESPONSIVE ----
@media #{$bp-max-sm} {
    .btn-group {
        //   @include padding(null $gutter-half);
    }
}

@media #{$bp-min-md} {}