<div class="flip-card">
  <div class="flip-card__wrapper">
    <div class="flip-card__face flip-card__face--front">
       <figure>
          <img src={{imgPath}}>
       </figure>
    </div>
    <div class="flip-card__face flip-card__face--back">
     <div>
         <h3>{{name}}</h3>
         <span>{{Funcion}}</span>
     </div>
    </div>
  </div>
</div>