<div class="valid-steps">
    <div class="valid-steps__item">
        <div class="valid-steps__item__nbr">
            01
        </div>
        <div class="valid-steps__item__text"> etape de 111 </div>
    </div>

    <div class="valid-steps__item">
        <div class="valid-steps__item__nbr">
            02
        </div>
        <div class="valid-steps__item__text"> etape de 111 </div>
    </div>

    <div class="valid-steps__item">
        <div class="valid-steps__item__nbr">
            03
        </div>
        <div class="valid-steps__item__text"> etape de 4546 </div>
    </div>
</div>