.small-title {
    display: flex;
    align-items: center;

    .flag {
        margin-right: $gutter-half;
    }

    >span {
        font-family: $font-secondary-regular;

        &.m-nordique {
            color: $color-blue-light;
        }

        &.hiking {
            color: $color-orange-meduim;
        }

        &.event {
            color: $color-green-meduim;
        }
    }
}