.filter {
    background-color: $color-gray-dark;
    color: white;
    background-color: $color-black-meduim;
    border: 3px solid white;
    z-index: 1000;
    //  @include border-top-right-radius($gutter-base);
    border-radius: 0px $gutter-base 0px 0px;
    // .filter__title
    &__title {
        padding: $gutter-half;
        font-size: 16px;
        font-family: $font-regular;
        text-transform: uppercase;
        background-color: $color-gray-dark;
        display: flex;
        // @include border-top-right-radius($gutter-base);
        border-radius: 0px $gutter-base 0px 0px;
        >span {
            flex: 1;
        }
        a {
            cursor: poiner
        }
    }
    // 
    .type-is-inscript {
        margin-top: $gutter-half;
        @include padding(10px null 0);
        border-top: $border-white;
        .input-radio {
            padding-top: 10px;
        }
    }
}

// criteria
.criteria {
    border-bottom: $border-default;
    // .criteria__title 
    &__title {
        padding: $gutter-half;
        display: block;
        font-size: 15px;
        @include Y-center;
        span {
            flex: 1;
        }
    }
    // .criteria__content
    &__content {
        padding: $gutter-half;
        transition: $transition-all;
        overflow: hidden;
        #{$all-text-inputs} {
            min-width: 130px;
        }
        .input-checkbox {
            margin-bottom: $gutter-half;
            margin-left: $gutter-half;
        }
        .calendar {}
    }
    // .criteria--closed  
    &.criteria--closed {
        .criteria__content {
            padding: 0;
            height: 0;
        }
        .icon-arrow-slide {
            //   @extend .icon-arrow-slide-up;
        }
    }
    // forms controlers 
    #{$all-text-inputs},
    select {
        height: 25px;
        width: 80%;
        margin-bottom: $gutter-half;
        width: calc(100% - 50px);
    }
}

.button--filter {
    position: fixed;
    font-size: 2rem;
    transform: rotate(90deg);
    top: calc(60vh - 27px);
    left: -57px;
    z-index: 1000;
    transition: $transition-default;
    box-shadow: $shadow-light;
    &:hover {
        left: -37px;
    }
}

//-----  MEDIA QUERY / RESPONSIVE ----
@media #{$bp-max-md} {
    .filter {
        position: absolute;
        left: -200%;
        top: 55px;
        width: 100%;
        transition: $transition-default;
        &.filter--show {
            left: 0;
        }
    }
}

//$bp-only-tablet 
@media #{$bp-only-tablet} {
    .criteria {
        .criteria__content {
            #{$all-text-inputs} {
                min-width: 105px;
            }
        }
    }
}

@media #{$bp-min-md} {}