<div class="input-incrementer">
    <div class="input-incrementer__btn input-incrementer__btn--decrement">
        -
    </div>
    <div class="input-incrementer__value">
        <input type="hidden" name="input-incrementer" class="input-incrementer__field" value="">
        <div class="input-incrementer__value-old">
            OLD
        </div>
        <div class="input-incrementer__value-current">
            {{defaultValue|default(0)}}
        </div>
    </div>
    <div class=" input-incrementer__btn input-incrementer__btn--increment">
        +
    </div>
</div>