.flip-card {
    width: 200px;
    height: 260px;
    border: 1px solid #CCC;
    margin: 40px 0;
    perspective: 600px;
    &__wrapper {
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
        cursor: pointer;
        position: relative;
        &.is-flipped,
        &:hover,
        &:focus {
            transform: rotateY(180deg);
        }
    }
    &__face {
        position: absolute;
        width: 100%;
        height: 100%;
        color: $color-red-dark;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        &--front {
            background: black;
        }
        &--back {
            background: $color-gray-light;
            transform: rotateY( 180deg);
        }
    }
}

.flipCard-list {
    display: flex;
    .flip-card {
        margin-left: $gutter-half;
    }
}