.hero-carousel {
    position: relative;
    // .hero-carousel__images 
    &__images {
        position: relative;
        height: 400px;
        z-index: 1;
        background-color: black;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
            background-color: rgba(black, 0.5)
        }
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            opacity: 0;
            transition: $transition-all;
            &.current {
                z-index: 2;
                opacity: 1;
            }
        }
    }
    // .hero-carousel__nav
    &__nav {
        z-index: 2;
        color: white;
        height: 60px;
        overflow: hidden;
        display: flex;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
        @include YX-center-pa;
    }
    // hero-carousel__nav-inner 
    &__nav-inner {
        overflow: auto;
        white-space: nowrap;
        height: 100%;
        position: relative;
        //------- Begin  SCROLL styling !! ------------------------
        &::-webkit-scrollbar {
            width: 5px;
            height: 10px;
            /* width of the entire scrollbar */
        }
        // les rails du scrollbar
        &::-webkit-scrollbar-track {
            // background: transparent;
            background-color: rgba(white, .3);
        }
        // C'est le crusor qui se deplace ... 
        &::-webkit-scrollbar-thumb {
            background-color: white;
            width: 5px;
            border-radius: 20px;
            &::before {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                background-color: #fff;
            }
        }
        &::-webkit-scrollbar {}
        &::-webkit-scrollbar-button {}
        &::-webkit-scrollbar-track {}
        &::-webkit-scrollbar-track-piece {}
        &::-webkit-scrollbar-thumb {
            // background-color: red;
        }
        &::-webkit-resizer {
            //  width: 150px;
            //   height: 300px;
            //  background-color: red;
        }
    }
    //------- END  SCROLL styling !! ------------------------
    // .hero-carousel__nav-item
    &__nav-item {
        z-index: 2;
        position: relative;
        opacity: .6;
        @include padding($gutter-half);
        &.current {
            opacity: 1;
        }
    }
    // .hero-carousel__nav-rails
    &__nav-rails {
        height: 5px;
        top: 10px;
        background-color: rgba(white, .3);
        position: relative;
        z-index: 1;
    }
    // .hero-carousel__nav-cursor
    &__nav-cursor {
        width: 100px;
        height: 5px;
        background-color: white;
        transition: $transition-all;
        position: relative;
        &:before {
            content: " ";
            display: block;
            width: 15px;
            height: 15px;
            margin: 0 auto;
            position: relative;
            background-color: white;
            border-radius: 50%;
            top: -5px;
        }
    }
}


/*
    DOC scrollBarre scss
   
   ::-webkit-scrollbar {/ * 1 - scrollbar * /}
   ::-webkit-scrollbar-button {/ * 2 - button * /}
   ::-webkit-scrollbar-track {/ * 3 - track * /}
   ::-webkit-scrollbar-track-piece {/ * 4 - the visible part of the track * /}
   ::-webkit-scrollbar-thumb {/ * 5 - slider * /}
   ::-webkit-scrollbar-corner {/ * 6 - corner * /}
   ::-webkit-resizer {/ * 7 - resizing * /}

*/