{# contact-forms.twig #}
{% extends "includes/layout.base.twig" %}

{% block pageTitle %}
    content test -
    {{siteName}}
{% endblock %}

{% block classPage %}
    page-content-test
{% endblock %}

{% block page %}
    <div class="container">
         <h2> page  contact from </h2>
         <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi accusantium unde, perspiciatis itaque eos libero sapiente obcaecati ut similique, iure, qui fugit. Ducimus aperiam officia quibusdam reprehenderit quas consequuntur accusantium? </p>
    </div>
{% endblock %}