{# DOC : jauge > pour faire progresser une valeur sous forme d'une jauge d'essence

## PARAMETRERS
@addClass : add a list of class to contoller separate by space ( on string format)
 #}

<div class="jauge tst {{addClass}}" data-pourcent="{{pourcentage}}">
    <div class="jauge__wrapper">
        <div class="jauge__cache-rotate"></div>
        <img class="jauge__shape" src="img/jauge-essance.png" alt="">
        <div class="jauge__content">
            <span> {{pourcentage}}% </span>
            <span> {{metrix}}</span>
        </div>
    </div>
</div>
