.header {
    color: white;
    .header-banner {
        background-image: url("img/bg-header-02.jpg");
        background-repeat: no-repeat;
        background-position: 0 -1px;
        background-size: cover;
        background-color: $color-blue-dark;
        height: 522px;
        position: relative;
        &::after {
            content: " ";
            display: block;
            width: 100%;
            height: 275px;
            position: absolute;
            bottom: -7px;
            background-image: url("img/header-waves.png");
            background-repeat: no-repeat;
            // background-position: 0 -1px;
            // background-size: cover;
        }
    }
    .header_wrapper {
        align-items: center;
    }
    .header_btn {
        width: 100px;
        display: block;
        text-align: center;
        i {
            display: inline-block;
        }
        a {
            display: inline-block;
        }
        &.header_btn-burger {
            text-align: left;
            width: 100%;
            background-color: black;
            padding: 0px $gutter-half;
        }
        &.header_btn-rif {
            width: 60px;
        }
    }
}

.header__hero-info {
    padding: $gutter-base;
    position: relative;
    z-index: 100;
    &,
    p {
        text-align: center;
    }
    .avatar {
        display: block;
        margin: 0 auto;
        box-shadow: 0 0 20px 6px rgb(252, 241, 147);
        width: 100px;
        height: 100px;
    }
    .header_message-notice {
        background-color: rgba(32, 15, 15, 0.33);
        padding: $gutter-half;
        text-align: left;
        border-radius: 5px;
        i.warning {
            float: left;
            padding-right: $gutter-half;
        }
    }
}

.header__info-name {
    font-size: 2.5rem;
}

.header__info-function {
    font-size: 2rem;
}

.header_logo {
    @include Y-center;
    justify-content: center;
    img {
        width: 104px;
    }
}

.header_second-menu {
    @include Y-center;
    justify-content: flex-end;
}

.header_main-menu {
    min-height: 47px;
    background-color: black; //   $color-orange-meduim
    font-family: $font-semibold;
    text-transform: uppercase;
    >* {
        height: 100%;
    }
    nav {
        @include Y-center;
        width: 100%;
        height: 100%;
    }
    //md-display
    &.md-display {
        // padding-left: 70px;
        a {
            margin: 0px $gutter-half;
            position: relative;
            &:hover,
            &:focus,
            &.active {
                color: inherit;
                text-decoration: none;
                &:after {
                    content: " ";
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: white;
                    position: absolute;
                    bottom: -5px;
                }
            }
        }
    }
    // le menu mobile : .header_main-menu--mobile
    &.mobile-display {
        position: absolute;
        top: 0px;
        left: -100%;
        z-index: 1000;
        transition: $transition;
        min-height: 480px; // 80%
        &.show {
            left: 0;
        }
        nav {
            flex-direction: column;
            align-content: flex-start;
        }
        a {
            display: block;
            width: 100%;
            padding: $gutter-half 0px;
            &.deconnextion {
                border-top: $border-white;
                margin-top: $gutter-base;
            }
        }
        .header_btn-close {
            padding: $gutter-half;
            text-align: right;
            .icon-close-white {
                cursor: pointer;
            }
        }
    }
}

//-----  MEDIA QUERY / RESPONSIVE ----
// ONLY ON MOBILE
@media #{$bp-max-sm} {
    .header {
        border-bottom: $border-blue-dark;
        .icon-burger {
            height: 27px;
            width: 32px;
            background-position: -58px -153px;
        }
        .icon-flech-left {
            height: 27px;
            width: 37px;
            background-position: -5px -54px;
        }
    }
}

@media #{$bp-min-sm} {}

@media #{$bp-only-tablet} {
    .header_main-menu {
        &.md-display {
            padding-left: 10px;
            a {
                @include margin (null 7px);
                font-size: 13px;
            }
        }
    }
}

@media #{$bp-min-md} {
    .header {
        .header-banner {}
        .header_wrapper {
            padding: 0px 0px;
        }
        .header__hero-info {
            .avatar {
                width: 150px;
                height: 150px;
            }
        }
        .header__info-name {
            font-size: 3.5rem;
        }
        .header__info-function {
            font-size: 2.5rem;
        }
    }
    .header_logo {
        background-image: url("img/header-banner.jpg");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        height: 80px;
        padding-left: 40px;
        justify-content: flex-start;
        img {
            width: auto;
        }
    }
}

@media #{$bp-min-lg} {}

@media #{$bp-min-xl} {}