.layout.detail {

    .detail_title {
        align-items: center;
    }

    .status-notif {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .status {
            margin-right: $gutter-half;
        }
    }

    .detail_info {
        margin-bottom: $gutter-half;

        span {
            margin-right: $gutter-half;
        }
    }

    // used in detail-sejour
    .info-list_row {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;

        .info-list_icone {
            width: 60px;
        }

        .info-list_text {
            flex: 1;

            >div {
                @extend .bold-15;
                margin-bottom: 8px;
            }

            p {
                font-size: $fz-default;
            }
        }

    }
}

// to global 

//-----  MEDIA QUERY / RESPONSIVE ----
@media #{$bp-max-sm} {
    .layout.detail {

        // used in detail-sejour
        .info-list_row {
            .info-list_text {
                border-bottom: $border-default;
                margin-right: -15px;
                padding-right: 15px;
            }

            &:nth-last-of-type(1) {
                .info-list_text {
                    border-bottom: none;
                }
            }
        }

        .status-notif {
            .status {
                margin-right: 12px;
            }
        }

    }
}