.layout {
    main.main {
        min-height: 600px;
        padding-bottom: $gutter-half;
    }
}

.container {
    //  @include padding($gutter-half);
    width: 100%;
}

//-----  MEDIA QUERY / RESPONSIVE ----
// only mobile : from 0 to 767
@media #{$bp-max-sm} {}

@media #{$bp-only-tablet} {}

@media #{$bp-min-md} {}

@media #{$bp-min-xl} {
    .container {
        width: 1200px;
        //  margin: 0 auto;
    }
}