{# index.twig #}
{% extends "includes/layout.base.twig" %}

{% block pageTitle %}
    Détail d'un séjour                                                                                                                                                                                                                                                                                       -
    {{siteName}}
{% endblock %}
{% block classPage %}
    detail page-detail-sejour
{% endblock %}
{% block page %}
    <div class="container">
        <div class="row pt-2">
            <div class="col">
                <a class="button" href="list-des-journees.html">
                    retour à la liste
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="small-title mt-3">
                    <div class="flag flag--M">M</div>
                    <span class="m-nordique">
                        M. nordique
                    </span>
                </div>
            </div>
            <div class="col-6 mt-3 status-notif">
                <span class="status status--update">
                    Modifié
                </span>
            </div>
        </div>

        <div class="row detail_title">
            <h1 class="col">
                20-01 - En projet - Compostelle dans la vallée du Célé
            </h1>
        </div>

        <div class="row">
            <div class="col-md-6 detail_info-list">
                <div class="info-list_row">

                    <div class="info-list_icone">
                        <i class="icon-agenda"></i>
                    </div>
                    <div class="info-list_text">
                        <h2>
                            vendredi 23 mai 2019 au dimanche 26 mai 2019</h2>

                        <div>
                            Jeanne l’animatrice (Nom du programme)
                        </div>

                        <div>
                            24 km (maxi / jour)</div>

                    </div>

                </div>

                <div class="info-list_row">

                    <div class="info-list_icone">
                        <i class="icon-mountain"></i>


                    </div>
                    <div class="info-list_text">

                        <div>
                            Itinérant
                        </div>

                        <div>
                            Portage : OUI
                        </div>
                        <div>
                            Dénivelés : OUI
                        </div>
                        <p>
                            Fortes dénivelées le 2 ème jour
                        </p>


                    </div>

                </div>

                <div class="info-list_row">

                    <div class="info-list_icone">
                        <i class="icon-budget"></i>
                    </div>
                    <div class="info-list_text">

                        <div>
                            Budget prévisionnel :
                        </div>

                        <div>
                            150 € - Clos
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div
                class="col-md-6">
                {# < bloc-info :  DESCRIPTIF  #}
                <div class="bloc-info">
                    <div class="bloc-info_title">
                        DESCRIPTIF
                    </div>
                    <div class="bloc-info_content">
                        <div class="bloc-info_line row no-gutters">
                            <div class="col">
                                <p>
                                    Cette variante du chemin de Compostelle par la vallée du Célé passe pour l’un des beaux tronçons de la voie du Puy. Nous partirons ...</p>

                                <a class="link-icon d-flex align-items-center" href="">
                                    <i class="icon-pdf mx-3"></i>
                                    <span>
                                        Descriptif détaillé partir du 01/02/2019
                                    </span>
                                </a>

                            </div>
                        </div>

                    </div>

                </div>
                {# bloc-info : DESCRIPTIF >  #}
            </div>

            <div
                class="col-md-6">
                {# < bloc-info :  AUTRES INFORMATIONS  #}

                <div class="bloc-info">
                    <div class="bloc-info_title">
                        AUTRES INFORMATIONS
                    </div>
                    <div class="bloc-info_content">
                        <div class="bloc-info_line row no-gutters">
                            <div class="col">
                                <p>
                                    Dates d’inscription : du ... au   ...8 participants minimum,  9 participants maximum
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                {# bloc-info : AUTRES INFORMATIONS >  #}

            </div>

            <div
                class="col-md-6">
                {# < bloc-info :  MODIFICATIONS DE SEJOURS  #}
                <div class="bloc-info">
                    <div class="bloc-info_title">
                        MODIFICATIONS DE SEJOURS</div>

                    <div class="bloc-info_content">
                        <div class="bloc-info_line row no-gutters">
                            <div class="col">
                                <p class="bold">
                                    Mardi 29 avril 2019 - Jeanne l’Animatrice - 09:10
                                </p>
                                <p>
                                    Le descriptif est en ligne
                                    <a href="#">
                                        (Voir PDF)
                                    </a>
                                </p>


                            </div>
                        </div>

                    </div>
                </div>
                {# bloc-info : MODIFICATIONS DE SEJOURS >  #}


            </div>

        </div>


    </div>


</div>{% endblock %}
