{# index.twig #}
{% extends "includes/layout.base.twig" %}

{% block pageTitle %}
    home -
    {{siteName}}
{% endblock %}

{% block classPage %}
    page-home
{% endblock %}

{% block page %}
    <div class="container">
        p: home
    </div>
{% endblock %}
