{# index.twig #}
{% extends "includes/layout.base.twig" %}

{% block pageTitle %}
    home -
    {{siteName}}
{% endblock %}

{% block classPage %}
    page-home
{% endblock %}

{% block page %}
    <div class="container">
        <div class="jumbotron">
            <H1> Kit starter twig-Js </H1> 
            <p> c'est un kit starter basé sur du twig js , avec une architecture front déja préconfigurer et construite a base de gulp, sass, twig-js, et plusieurs extentions et package npm ..., et surtout un systeme atomic de composant twig ( bouttons ,element de formulaire, slaiders ....... , regarder la doc de ce kit dans ce styleGuide </p>
            <div>
             <a href="styleguide.html" class="button-action"> styleguide.html </a>
            </div>
        </div>
    </div>
{% endblock %}
