{# index.twig #}
{% extends "includes/layout.base.twig" %}

{% block pageTitle %}
    home -
    {{siteName}}
{% endblock %}

{% block classPage %}
    Home 
{% endblock %}
{#   ... B.Y  Y,O,U,N,E,S  C,H,R,A,K  ... #}
{% block page %}

 {% include "./includes/header.twig" %} 
  <main class="main">
    <div class="container">
    <h2> test 00003 </h2> 
        <div class="row">
              <div class=" col-md-6 col-lg-4">
                {% include "includes/card.twig" %} 
              </div>
                            <div class=" col-md-6 col-lg-4">
                {% include "includes/card.twig" %} 
              </div>
                            <div class=" col-md-6 col-lg-4">
                {% include "includes/card.twig" %} 
              </div>
                            <div class=" col-md-6 col-lg-4">
                {% include "includes/card.twig" %} 
              </div>
                            <div class=" col-md-6 col-lg-4">
                {% include "includes/card.twig" %} 
              </div>
        </div>
    </div>
  </main>
{% endblock %}

