
{% extends "includes/layout.base.twig" %}
{% block pageTitle %}
   title page model
    {{siteName}}
{% endblock %}

{% block classPage %}
    page modele 
{% endblock %}
{#   ... B.Y  Y,O,U,N,E,S  C,H,R,A,K  ... #}
{% block page %}

 {% include "./includes/header.twig" %} 
  <main class="main">
    <div class="container">
        <p> ..... </p>
    </div>
  </main>
{% endblock %}